name: Build and Deploy Docker Image

on:
  push:
    branches:
      - main
      - staging
      - "feature/**"
      - "patch/**"
      - "ci/**"
      - "doc/**"
      - "performance/**"
      - "refactor/**"
  pull_request:
    types: [closed]
    branches:
      - main
      - staging
      - "feature/**"
      - "patch/**"
      - "ci/**"
      - "doc/**"
      - "performance/**"
      - "refactor/**"
  workflow_dispatch:
env:
  DOCKER_REGISTRY: ${{ vars.DOCKER_REGISTRY }}
  DOCKER_IMAGE_NAME: ${{ vars.DOCKER_IMAGE_NAME }}
jobs:
  publish-release:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for proper version calculation

      - name: Validate branch name
        id: validate
        uses: ./.github/actions/validate-branch

      - name: Calculate version
        id: version
        uses: ./.github/actions/calculate-version
        with:
          branch_type: ${{ steps.validate.outputs.branch_type }}
          ticket: ${{ steps.validate.outputs.ticket }}


      - name: Create Git tag
        id: git_tag
        if: success()
        uses: ./.github/actions/create-git-tag
        with:
          tag: ${{ steps.version.outputs.tag }}
          message: ${{ steps.version.outputs.message }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Create GitHub release
        id: github_release
        if: success() && steps.validate.outputs.branch_type == 'release'
        uses: ./.github/actions/create-github-release
        with:
          tag: ${{ steps.version.outputs.tag }}
          additional_tags: ${{ steps.version.outputs.additional_tags }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.DOCKER_REGISTRY }}
          image_name: ${{ env.DOCKER_IMAGE_NAME }}
